<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288316057311-etkfkd2npcs60eu93ug0c4hdojso93j2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288316057311-etkfkd2npcs60eu93ug0c4hdojso93j2</string>
	<key>API_KEY</key>
	<string>AIzaSyBQtyzY8UzO1-vKQ3nYFWrQXngrtVxW3XY</string>
	<key>GCM_SENDER_ID</key>
	<string>288316057311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>illyass-app</string>
	<key>STORAGE_BUCKET</key>
	<string>illyass-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288316057311:ios:3c3118b01617089f3e2b6a</string>
</dict>
</plist>